# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AdmitadExamplesParser.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\asneg\RiderProjects\AdmitadExamplesParser\.idea\.idea.AdmitadExamplesParser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
