<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogFile="G:\NLogErrors\log.txt">
    <!-- <extensions> -->
        <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <!--     <add assembly="NLog.Extended" /> -->
    <!-- </extensions> -->

    <!--Define Various Log Targets like files, database or asp.net trace files-->
    <targets>
        <!--<target name="console" xsi:type="ColoredConsole" layout="${message}" />-->
        <!--Write logs to File  where we want to write error logs-->

        <target name="LoggerTarger"
                xsi:type="File"
                fileName="/var/www/serverTool/log/${shortdate}.log"
                layout="${longdate} ${message}${newline}"
        />

    </targets>

    <rules>
        <logger name="Logger" minlevel="trace" writeTo="LoggerTarger" />
    </rules>
</nlog>  