<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogFile="G:\NLogErrors\log.txt">
    <extensions>
        <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
        <add assembly="NLog.Extended" />
    </extensions>

    <!--Define Various Log Targets like files, database or asp.net trace files-->
    <targets>
        <!--<target name="console" xsi:type="ColoredConsole" layout="${message}" />-->
        <!--Write logs to File  where we want to write error logs-->
        <target name="DownloadErrorTarger"
                xsi:type="File"
                fileName="/var/www/thestore.api/logs/download-errors-${shortdate}.log"
                layout="${longdate} ${message}${newline}${exception:format=tostring}${newline}"
        />


    </targets>

    <rules>
        <logger name="DownloadError" minlevel="error" writeTo="DownloadErrorTarger" />
    </rules>
</nlog>  