<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogFile="G:\NLogErrors\log.txt">
    <extensions>
        <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
        <add assembly="NLog.Extended" />
    </extensions>

    <!--Define Various Log Targets like files, database or asp.net trace files-->
    <targets>
        <!--<target name="console" xsi:type="ColoredConsole" layout="${message}" />-->
        <!--Write logs to File  where we want to write error logs-->
        <target name="DownloadErrorTarger"
                xsi:type="File"
                fileName="logs/download-errors-${shortdate}.log"
                layout="${longdate} ${message}${newline}${exception:format=tostring}${newline}"
        />

        <target name="ReadFileErrorTarger"
                xsi:type="File"
                fileName="logs/read-file-errors-${shortdate}.log"
                layout="${longdate} ${message}${newline}${exception:format=tostring}${newline}"
        />
        
        <target name="ProxyStatisticsTarget"
                xsi:type="File"
                fileName="logs/proxyStatistic-${shortdate}.log"
                layout="${longdate} ${message}"
        />
        
        <target name="SitemapGenerationTarget"
                xsi:type="File"
                fileName="logs/sitemap-${shortdate}.log"
                layout="${longdate} ${message}"/>

        <target name="RequestTarget"
                xsi:type="File"
                fileName="logs/requests-${shortdate}.log"
                layout="${longdate} ${message}"/>
        <target name="UrlStatisticsForIndexTarget"
                xsi:type="File"
                fileName="logs/urlStatisticsRequest-${shortdate}.log"
                layout="${longdate} ${message}"/>
        <target name="UrlStatisticsInternalErrorsTarget"
                xsi:type="File"
                fileName="logs/urlStatisticsErrors-${shortdate}.log"
                layout="${longdate}\n${message}"/>

    </targets>

    <rules>
        <logger name="DownloadError" minlevel="error" writeTo="DownloadErrorTarger" />
        <logger name="ReadFileError" minlevel="error" writeTo="ReadFileErrorTarger" />
        <logger name="UrlStatisticsLogger" minlevel="info" writeTo="ProxyStatisticsTarget" />
        <logger name="SitemapGeneration" minlevel="info" writeTo="SitemapGenerationTarget" />
        <logger name="Request" minlevel="info" writeTo="RequestTarget" />
        <logger name="UrlStatisticsForIndexLogger" minlevel="info" writeTo="UrlStatisticsForIndexTarget"/>
        <logger name="UrlStatisticsInternalErrorsLogger" minlevel="info" writeTo="UrlStatisticsInternalErrorsTarget"/>
    </rules>
</nlog>  